.DS_Store
node_modules
/dist


nodecrud-b3a6b-firebase-adminsdk-jc17w-76ba009dc2.json
# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/font/setofont.ttf
src/assets/scss/helpers/_variables.scss